bin/
obj/
*.user
*.suo
_*
*.Cache
*.cachefile
Thumbs.db
lib/FlashDevelop/
resources/spaceport-sdk
src/InstallerCreator/Update.zip
src/InstallerCreator/Update
src/InstallerCreator/LaunchpadInstaller.exe
